i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7.0em;
}

#chevron {
    font-size: 1rem;
}

#date {
    padding-top: 1rem;
}

#description {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#delete {
    display: inline;
}